* {
    font-family: 'Poppins';
}

body {
    background-color: #222;
}



#searchDiv {
    background-color: hsl(0, 0%, 41%);
    width: 40%;
    margin: 0 auto;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



#userInputCity {
    width: 70%;
    height: 6vh;
    margin: 0;
    border: 1px solid rgb(181, 181, 181);
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1vh;
}


/* user input city focus effect */
#userInputCity:focus {
    outline: none;
}




#submitBtn {
    width: 30%;
    height: 5.5vh;
    margin: 0;
    border: 1px solid rgb(0, 229, 255);
    border-left: none;
    background-color: rgb(0, 229, 255);
    color: white;
    font-size: 13px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* submitBtn hover effect */
#submitBtn:hover {
    background-color: rgb(97, 239, 255);
   border: 1px solid rgb(97, 239, 255);
}


/* submitBtn active effect */
#submitBtn:active {
    background-color: rgb(4, 184, 205);
   border: 1px solid rgb(4, 184, 205);
}




#resultDiv {
    background: linear-gradient(120deg, rgb(0, 229, 255), rgb(3, 142, 184));
    width: 40%;
    margin: 0 auto;
    height: 550px;
    text-align: center;
    border-radius: 27px;
}



#upperDetails {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: #222;
}


.weatherIcon {
    width: 90px;
    height: 85;
}


.temp {
    font-size: 80px;
    margin-top: -10px;

    /* font-weight: 500; */
}


.city {
    font-size: 60px;
    margin-top: -70px;
    font-weight: 500;
}





.lowerdetails {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    color: #222;

}


#col2 {
    margin-top: -8px;
}


/* hiding by default result  */
#resultDiv {
    display: none;
}